.about-page{
    
    margin-top: 75px;
}

.about-page h1{
    text-align: left;
}

.about-image{
    position: relative;
    margin-top: 50px;
}

.about-image img{
    width: 100%;
    z-index: 100;

}