*{
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body{
  background: #181818;
}

.container{
  width: 80%;
  margin: auto;
}

.bak{
  background: #000;
  width: 100%;
  height: 84px;
  display: flex;
}

.header{
  display: flex;
  justify-content: space-between;

}

.header ul{
  width: 70%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 50px;
}


.header ul li a{
  text-decoration: none;
  color: rgb(218, 218, 218);
}



.logo{
  width: 80px;
  height: auto;
}

.hero{
  width: 100%;
  height: 100vh;
  background: #181818;
  overflow: hidden;
}

.main-head-flex{
  height: 100vh;
  display: flex;
  align-items: center;
}

.main-head{
  display: flex;
  margin-left: 3%;
  /* margin-top: 80px; */
  align-items: center;
  column-gap: 60px;

}

.heading{
  width: 50%;
}


.line-social{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.social-media{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.social-media a{
  color: white;
}

.line{
  border-left: 2px solid rgb(255, 255, 255);
  height: 550px;
}



.main-img{
  width: 40%;
  height: auto;
}

.heading{
  color: #D8D8D8;
  margin-top: -100px;
}

.heading p{
  margin-top: 10px;
  font-size: 30px;
}


/* Services */
.gutter{
  margin: 100px 0px;
  width: 100%;
  text-align: center;
}

.ser-back{
  width: 100%;
  /* height: auto; */
  background: #181818;
  overflow: hidden;
  padding-bottom: 50px;
}

.services{
  margin-top: 50px;
  color: white;
  text-align: center;
}

.ser-btn{
  margin: 40px 0px;
  display: flex;
  list-style: none;
  justify-content: center;
  column-gap: 50px;
}

.service-ui{
  text-decoration: none;
  margin-top: 50px;
  color: rgb(170, 169, 169);
  font-size: 18px;
}


.ser-active{
  padding: 14px 20px;
  border: 1px solid rgb(128, 128, 128);
  text-align: center;
  vertical-align: middle;
  border-radius: 7px;
}



/* Cards */
.cards{
  max-width: 1550px;
  margin: auto;
  display: flex;
  column-gap: 20px;
  row-gap: 20px;
  margin-top: 60px;
  justify-content: center;
  flex-wrap:wrap;

}

.cards a{
  width: 30%;
  min-width: 370px;
  text-decoration: none;
}

.card{
  width: 100%;
  height: 354px;
  min-width: 370px;
  background: #181818;
  border-radius: 10px;
  outline: 1px solid #505050;
  overflow: hidden;
}


.card:hover{
  box-shadow: 0px 28px 27px rgba(0, 0, 0, 0.857);
  transition: 0.4s;
}

.crd-image{
  width: 100%;
  height: 290px;
  background: #282c34;
}

.crd-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.crd-title{
  width: 100%;
  text-align: center;
}

.crd-title h4{
  color: #fff;
  margin-top: 25px;
  font-weight: 400;
  font-size: 18px;
}


/* Phot cards */
.p-card{
  position: relative;
}

.p-card .crd-image{
  position: relative;
  height: 100%;
}

.p-card .crd-title{
  display: none;
  position: absolute;
  height: 200px;
  bottom: 0;
  left: 0;
  background: none;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 70%,rgba(0, 0, 0, 0.898) 100%); 
  line-height: 300px;

} 


.p-card:hover .crd-title{
  display: block;
}



/* .p-card .crd-image:hover::after{
  
  content:'';
  position:absolute;
  left:0; bottom:0;
  width:100%; height:100%;
  color: white;
  display:inline-block;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%,rgba(0, 0, 0, 0.898) 100%); 
  transition:all 0.5s;
  

} */



/* About */

.about-sec{
  margin: auto;
  margin-top: 100px;
}

.about-sec h1{
  color: white;
  margin: auto;
  text-align: center;
  font-weight: 400;
  font-size: 48px;

}

.whole-about-sec{
  margin: auto;
  margin-top: 60px;
  color: white;
  display: flex;
  column-gap: 80px;
}

.my-pic{
  width: 35%;
  /* height: 500px; */
}

.my-pic img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.about-details{
  width: 60%;
}

.about-details p{
  margin-bottom: 20px;
  font-size: 18px;
  /* line-height: 0px; */
}

.about-details h4{
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: 400;
}

.skill-container{
  display: flex;
  column-gap: 40px;
}

.skill-box{
  width: 145px;
  height: 145px;
  background: #0E0E0E;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all ease-in-out 500ms;
}

.skill-box:hover{
  background: #5754E9;
}

.skill-box h5{
  font-size: 16px;
  font-weight: 400;
  margin-top: 20px;
}

.skill-icon{
  width: auto;
  height: 70px;
}

.skill-icon img{
  width: 100%;
  height: 100%;
}


/* Work Details */

.workdet-box{
  background: #0E0E0E;
  margin-top: 152px;
  ;
}

.work-det{
  padding: 50px 80px;
  color: #fff;
  display: flex;
  justify-content: space-between;

}

.work-sec{
  text-align: center;
}

.work-sec h1{
  font-size: 72px;
  font-weight: 400;
}

.work-sec p{
  font-size: 24px;
  font-weight: 400;
}

/* Contact */
.contact-box{
  background: #0E0E0E;
  margin-top: 152px;
  height: auto;
  border-radius: 10px;
}

.contact-det{
  text-align: center;
  padding-top: 86px;
  padding-bottom: 86px;
  height: 100%;
}

.contact-det h1{
  color: white;
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 40px;
}

.contact-btn{
  padding: 17px 75px;
  font-size: 18px;
  cursor: pointer;
  color: #fff;
  background: #5754E9;
  border: none;
  border-radius: 5px;
}

.contact-btn:hover{
  background: #716ff0;
}


/* Footer */

.footer p{
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
